/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*Include design changes for the body*/
body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: black;
}

/* Include a line below the header.*/
header {
  text-align: center;
  padding: 1px;
  border-bottom: 3px dashed black;
}

a {
  margin: 1%;
  text-decoration: none;
}

/* Hover effect when moving over a link.*/
a:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
}

img:hover {
  background-color: darkblue;
  color: black;
  padding: 1px;
}

section {
  padding: 2em;
}

img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid black;
}

progress {
	width: 50%;
	height: 1em;
	border: 1px solid black;
	margin-right: 0.5em;
	color: black;
	background-color: #f4f4f4;
}

progress::-webkit-progress-bar {
  background-color: #f4f4f4;
}

progress::-webkit-progress-value {
  background-color: black;
}

progress::-moz-progress-bar {
  background-color: black;
}

details {
	border: 2px dashed black;
	padding: 1em;
	margin: 10px;
	border-radius: 0;
	transition: all 0.3s;
}

details:hover {
	border: 2px solid black;
  cursor: pointer;
}